<a href="https://colab.research.google.com/github/Nabeel1537/DS-A-LAB-2/blob/main/20sw132_sec_2_DS%26A_LAB_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 2

In [11]:
# Store the number you want to hide from the user
answer = input("enter your number for player:")

# Get the guess from the user (you can modify this line to take user input)
guess = input("enter your number for guessing the number:")

# Compare the guess to the answer and inform the user
if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

# Print the result
print(result)

enter your number for player:45
enter your number for guessing the number:65
Oops! Your guess was too high.

task 1

In [19]:
num = int(input("enter your number:"))
if num>=1 and num<=50:
  print("congratulations you have won wooden rabbit")

elif num>=51 and num<=150:
  print("oh dear no prize this time")

elif num>=151 and num<=180:
  print("congratulations you have won water thin mint")
elif num>=181 and num<=200:
  print("congratulations you have won a penguin ")

enter your number:174
congratulations you have won water thin mint

task 3

In [24]:
def calculate_tax(purchase_amount, state):
    # Define the tax rates for each state
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089,
    }

    # Check if the state is in the tax_rates dictionary
    if state in tax_rates:
        # Calculate the tax amount
        tax_amount = purchase_amount * tax_rates[state]
        # Calculate the total amount (purchase amount + tax)
        total_amount = purchase_amount + tax_amount
        return total_amount
    else:
        return "State not found in the tax rates list."

# Example usage:
purchase_amount = 100.00
state = "CA"
total_amount = calculate_tax(purchase_amount, state)
print("Total amount with tax: ${total_amount:.2}")

Total amount with tax: ${total_amount:.2}

task 4

In [25]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

task 5

In [27]:
for number in range(5,31,5):
  print(number)

5
10
15
20
25
30

task 6

In [28]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

task 7

In [29]:
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

task 8

In [31]:
scores = {"Rick Sanchez": 70, "Morty Smith": 35, "Summer Smith": 82, "Jerry Smith": 23, "Beth Smith": 98}

passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

task 9

In [32]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

task 10

In [33]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, name in enumerate(cast):
    cast[index] = name + str(heights[index])

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']